<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport"-->
<!--        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>MAD 307 Assignment 2</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--  <div *ngFor = "let macbook of macBookList" class="macbookInfo">-->

<!--    <h2>{{macbook.model}}</h2>-->
<!--    <p>{{macbook.chip}} chip</p>-->
<!--    <p>{{macbook.memory}} GB</p>-->
<!--    <p>{{macbook.color}}</p>-->
<!--    <p>Serial Number: {{macbook.serialNumber}}</p>-->

<!--    &lt;!&ndash;I checked this method on w3schools on how to ngIf -else &ndash;&gt;-->
<!--    <p *ngIf="macbook.hasOwner; else noOwner">This MacBook has an owner.</p>-->
<!--    <ng-template #noOwner><p>This MacBook has no owner</p></ng-template>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!--<style>-->
<!--  .container {-->
<!--    width: 50%;-->
<!--    margin: 0 auto;-->
<!--  }-->

<!--  .macbookInfo{-->
<!--    padding: 20px;-->
<!--    background-color: antiquewhite;-->
<!--    border-radius: 8px;-->
<!--  }-->

<!--  h2{-->
<!--    font-family: sans-serif;-->
<!--    color: black;-->
<!--    text-align: center;-->
<!--    font-size: large;-->
<!--    margin-bottom: 20px;-->
<!--  }-->

<!--  p{-->
<!--    font-family: monospace;-->
<!--    color: black;-->
<!--    text-align: center;-->
<!--    margin: 5px;-->
<!--  }-->
<!--</style>-->

<!--part 5-->
<app-mac-book-list>

</app-mac-book-list>
