<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MAD 307 Assignment 2</title>
</head>
<body>
<!--  <h1>Welcome to {{title}}</h1>-->
<!--  <h2> My name is {{name}}</h2>-->
<!--  <h3> I study {{program}}</h3>-->
<div class="container">
  <div *ngFor = "let macbooks of macBookList">

    {{macbooks.model}}
    {{macbooks.chip}}
    {{macbooks.serialNumber}}
    {{macbooks.memory}}
    {{macbooks.color}}
    {{macbooks.hasOwner}}
  </div>
</div>

</body>
</html>

<!--<style>-->

<!--  h1{-->
<!--    font-family: "sans-serif";-->
<!--    font-style: italic;-->
<!--    font-weight: bold;-->
<!--    text-align: center;-->
<!--    font-size: x-large;-->
<!--    color: red;-->
<!--    margin: 50px 0;-->
<!--  }-->

<!--  h2{-->
<!--    font-family: "fantasy";-->
<!--    text-align: center;-->
<!--    font-size: x-large;-->
<!--    color: red;-->
<!--    margin: 50px 0;-->
<!--  }-->

<!--  h3{-->
<!--    font-family: "sans-serif";-->
<!--    text-align: center;-->
<!--    font-size: x-large;-->
<!--    color: red;-->
<!--    margin: 50px 0;-->
<!--  }-->
<!--</style>-->
